<ion-content class="ion-padding" id="ion-content">
  <!-- Start Grid Images -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-img
          src="../../assets/imgs/img-iberdrola.png"
          alt="Iberdrola imagen"
        ></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img
          src="../../assets/imgs/img-aire.png"
          alt="Aire imagen"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- End Grid Images -->
  <!-- Start Form -->
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" id="form-login">
    <ion-item>
      <ion-label position="floating"> User </ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Password </ion-label>
      <ion-input formControlName="password" [type]="passwordType"></ion-input>
      <ion-icon
        slot="end"
        color="primary"
        (click)="showPassword()"
        [name]="passwordIcon === true ? 'eye' : 'eye-outline'"
      ></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox slot="start" formControlName="optionBtn"></ion-checkbox>
      <ion-label>Remember password</ion-label>
    </ion-item>

    <!-- Start Buttons -->
    <ion-button
      size="full"
      (click)="onSubmit()"
      [disabled]="myForm.invalid"
      id="ion-button"
      shape="round"
    >
      Enter
    </ion-button>
    <!-- End Buttons -->
  </form>
  <!-- End Form -->
</ion-content>
