<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="myForm">
    <ion-item>
      <ion-label position="floating">
        Name
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="username" class="red" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        E-Mail
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="email" required></ion-input>
    </ion-item>
    <ion-button
      routerLink="/main-pg"
      size="full"
      (click)="onSubmit()"
      [disabled]="myForm.invalid"
    >
      Login
    </ion-button>
  </form>
</ion-content>
